.MainH1 {
  margin-left: 20px;
}
.greeting {
  margin-left: 40px;
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 88px;
  position: relative;
}

.greeting-links {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.personal-message {
  padding-left: 20px;
}

.login-signup {
  margin-left: 60px;
}
