.all-products {
}
.product-index {
}
.product-index-item {
  display: flex;
}
.product-index-item > img {
  height: 50px;
}

.checkout-product-index {
}
.checkout-product-index-item {
  display: flex;
}
.checkout-product-index-item > img {
  height: 50px;
}
